@import variables

.content
  margin-top: 228px
  &__upper
    &__left
      &__button
      margin-top: 50px
    &__right
      width: 243px
      height: 243px
      background-image: url(../i/Ellipse.svg)


  &__middle
    padding-left: 20px
    padding-right: 20px
    margin-top: 71px
    background-color: $white_2

.card
  padding: 20px 20px
  background-color: $white
  &__name
    font-size: 26px
    line-height: 38.19px
  &__date
    display: flex
    font-size: 18px
    line-height: 26.44px
  &__description
    font-size: 16px
    line-height: 23.5px

    




 
