@import variables

.header
  height: 762px
  background-color: $black
  position: static
  margin: 0px 0px
  display: flex
  &__logo
    width: 75px
    height: 128px
    top: 72px
    left: 72px
    position: absolute

    background-image: url(../i/Logo.svg)
    background-size: cover
    background-repeat: no-repeat
  &__name
    width: 1136px
    height: 160px
    margin-top: 264px
    margin-left: 72px