@import variables

body
  margin: 0
  padding: 0
  font-family: 'Heebo', sans-serif
  color: $black

h1
  line-height: 60px
  font-weight: 700
  font-size: 44px
p
  font-size: 16px
  font-weight: 400
  